@import url('https://fonts.googleapis.com/css?family=Lato|Oswald&display=swap');

body { 
 font-family:Lato;
 color:#777777;
}

h1  {
        font-family: Oswald;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #555555;
        font:200%;
    }

#logo { 

    font: 200%;
    padding-left:120px;
    translate: 0px 75px;

}

#logo , #menu1, #menu2 {
        line-height:75px;
}

#menu1 , #menu2 {
    font-size: 150%;
    list-style-type: none;
    letter-spacing: 4px;
    font-family: Lato;
}

#menu1 li {
        float: left;
        margin-right: 75px;
        }


#menu2 li {
        float: right;
        margin-left: 75px;
        }

#menu1, #menu2 {
        text-decoration: none;
        color: inherit;
}

#menu1 a:hover , #menu2 a:hover {
   border-bottom: 1px solid #777777;
}

.active {
    border-bottom: 1px solid #777777;
}

#hero-image {
    height:600px;
    width:100%;
    background: url("https://images.pexels.com/photos/2261477/pexels-photo-2261477.jpeg?cs=srgb&dl=active-athlete-barbell-2261477.jpg&fm=jpg")  no-repeat center center;
    object-fit:  scale-down;
    background-size: cover;
    animation-name: hero-zoom;
    animation-duration:3s;
    animation-fill-mode:forwards;
}

#hero-outer {
 height:600px;
 width: 100%;
 overflow:hidden;
 position:relative;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}


#cover-text, #cover-text h2 {
    color: black;
    font-size: 10px;
    text-transform: uppercase;
    text-shadow: Oswald 0px 0px 1px,   Oswald 0px 0px 1px,   Oswald 0px 0px 1px,
             Oswald 0px 0px 1px,   Oswald 0px 0px 1px,   Oswald 0px 0px 1px;
}

#cover-text {
    font-size: 20px;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 5px;
    width:300px;
    height:200px;
    padding-left: 20px;
    padding-top: 0px;
    background-color:#DCDCDC;
    bottom:100px;
    right:120px;

    position:absolute;
}

#club-ethos {
         height:300px;
}

#left-about {
    padding-top:15px;
    width:33%;
    float: left;
    color:blue;
    text-align: center;
}

#right-about {
    padding-top:15px;
    width:33%;
    float: left;
    color:red;
    text-align: center;
}

#center-about {
    padding-top:15px;
    width:33%;
    float: left;
    color:green;
    text-align: center;

}

hr {
    border-bottom: 1px solid #777777;
    width:80%;
    margin: 5px .5;
    }

#mission {
    text-align: center;
    margin:20px 0;
    text-size-adjust: 200%;
}

#hl {
    border: 1px solid silver;
    width: 100%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: silver;
    }

footer {
height:225px;
}

.social-media {
    display:inline;
}
