@import url('https://fonts.googleapis.com/css?family=Lato|Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* common title for all pages */

h1  {
        font-family: Oswald;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: white;
        font:80%;
        text-align:center;
        line-height: 30px;
    }

/* Style The Dropdown Button */
.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 30px;
  border: none;
  cursor: pointer;
  float:left;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(184,184,184);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


nav a h1 {
    Padding-top: 15px;
    padding-right:50px;
    color:whitesmoke;
    float:center;
}

nav a h1:hover {
    animation-name: zoom;
    animation-duration:1.5s;
    animation-fill-mode:forwards;
}

body , header, .middle-section{
    animation-name: color-change;
    animation-duration:4s;
    animation-fill-mode:forwards;
}

@keyframes color-change {
    from {
        background-color: black;
    }
    25% { background-color: orange;
    }
    50% {
        background-color: orangered;
    }
    75% { background-color: red;
    }
    To {
        background-color:black;
    }
}

.gap {
    animation-name: color-change-2;
    animation-duration:4s;
    animation-fill-mode:forwards;
}

@keyframes color-change-2 {
    from {
        background-color: black;
    }
    25% { background-color: orange;
    }
    50% {
        background-color: orangered;
    }
    75% { background-color: red;
    }
    To {
        background-color:silver;
    }
}

.menu a:hover {
   border-bottom: 1px solid #777777;
}

.active {
    border-bottom: 1px solid #777777;
}

.theme {
    width:100%;
    overflow-x: hidden;
    background-color: black;
}

/* image used on index page main section */
#hero-image {
    height:600px;
    width:100%;
    background: url("https://images.pexels.com/photos/2261477/pexels-photo-2261477.jpeg?cs=srgb&dl=active-athlete-barbell-2261477.jpg&fm=jpg")  no-repeat center center;
    object-fit:  scale-down;
    object-position: top;
    background-size: cover;
    animation-name: zoom;
    animation-duration:5s;
    animation-fill-mode:forwards;
}

#hero-outer {
 height:600px;
 width: 100%;
 overflow:hidden;
 position:relative;
}

@keyframes zoom {
    from {
        transform: scale(1);
    }
    50% {
        transform:scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

/* text styling for founder quote */
#cover-text, #cover-text h2 {
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    text-shadow: Oswald 0px 0px 1px,   Oswald 0px 0px 1px,   Oswald 0px 0px 1px,
             Oswald 0px 0px 1px,   Oswald 0px 0px 1px,   Oswald 0px 0px 1px;
}

#cover-text {
    font-size: 20px;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 5px;
    width:300px;
    height:200px;
    padding-left: 20px;
    padding-top: 0px;
    bottom:100px;
    right:120px;
    color:white;
    position:absolute;
    background-color: rgba(96,96,96,0.6);
    box-shadow: 0px 8px 16px 0px rgba(220,220,220,0.6);
}


/* club ethos */ 
#club-ethos {
         height:50px;
         width:100%;
}

.mission-goals {
    width:100%;
    min-height:100px;
    clear:both;
}

/* used for Mission statement text */
.center-about { 
    color:white;
    float: center;
    text-align:center;
}

hr {
    border-bottom: 1px solid #777777;
    width:80%;
    margin: 0px .5;
    }

#mission {
    text-align: center;
    text-size-adjust: 200%;
    color:whitesmoke;
    padding-top: 25px;
}

#hl {
    border: 1px solid silver;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: silver;
    clear:both;
    }


/* bottom footer common to all pages */
footer {
min-height:100px;
background-color:#7c7c7c;
background-size: cover; 
margin:0;   
width:100%;
}

.social-media {
    text-align:center;
    clear:both;
}

.social-media li {
    list-style-type: none;
    text-align: center;
    clear:both;
    color:black;
}

.social-media p {
    color: black;
    clear:both;
    float: right;
    text-align: center;
    margin:1%;
}

.social-media li a {
    font-size: 100%;
    margin: 1%;
    float: center;
    color: black;
    clear:both;
    list-style-type: none;
    display: inline-block;
}

/* google maps iframe input on contact page */
#gmap iframe {
    min-height 100px;
    width:100%;
    clear:both;
}



.photo {
    clear:both;
}

/* main section of contact us page w/ three photo layout */
.left-about-contact {
    height:600px;
    background-color:blue;
    background: url("https://images.pexels.com/photos/1552104/pexels-photo-1552104.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500") center no-repeat no-repeat;
    background-size: cover; 
}

.right-about-contact {
    height:600px;
    background-color:blue;
    background: url("https://images.pexels.com/photos/1886487/pexels-photo-1886487.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500") center no-repeat no-repeat;
    background-size: cover;         
}

.contact-center-image {
    
    min-height:600px;
    min-width: 100vw;
    background-color:blue;
    background: url("https://images.pexels.com/photos/669584/pexels-photo-669584.jpeg?auto=compress&cs=tinysrgb&h=650&w=940") center no-repeat no-repeat;
    background-size: cover; 
    
}

/* testing at bottom of contact page to debug formatting */
.test {
    height: 300px;
    clear:both;
}

.test li {
    list-style-type: none;
    text-align:center;

    display: inline-block;
}

.test li a {
    color:black;
}

/* ----------------- timetable (tt) styles */

.tt-hl { 
    border: 1px solid silver;
    width: 100vw;;
    margin: auto;
    background-color: silver;
    clear:both;
}

.tt-oh {
    clear:both;
    line-height: 0;
    text-align: center;
    background: url("https://images.pexels.com/photos/669578/pexels-photo-669578.jpeg?auto=compress&cs=tinysrgb&h=650&w=940")  no-repeat center center;
    min-height:600px;
    background-size: cover;
    border: 5% solid white;
}

.tt-oh h1 {
    text-decoration: underline;
}

.tt-oh-s1 {
    padding-top: 3%;
    border-bottom-style: solid;
    border-bottom-color: white;
}

.tt-tt {
    Text-align: left;
    float: left;
}

.tt-text {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: auto;
    overflow-x:auto;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}


th, td   {
  text-align: center;
  padding: 20px;
  margin:0;
  word-wrap: break-word;
  background-color: #757575;
  color: white;
  white-space: nowrap;
  float: center;
  
}

table {
    margin: auto;
}

.tt-text-noclass {
    padding-top: 20px;
    color:white;
    float: center;
} 

.gap {
    height:4px;
    background-color: silver;
    width:100%;
}

/* Contact-Us Styles */
.center-form {
    padding-top: 20%;
    padding-left: 5%;
    margin: 0 auto;
    min-width: 100%;
    line-height: 75px;
}

.contact-center-text {
    text-align: center;
    float:center;
    padding-top:5%;
    
}

.contact-center-text h2, .contact-center-text h4 { 
    text-align:center;
    float: center;
}

/* Pricing Styles */

.pricing-plan {
    clear:both;  
    text-align: center;
    background: url("https://images.pexels.com/photos/669576/pexels-photo-669576.jpeg?auto=compress&cs=tinysrgb&h=650&w=940")  no-repeat center center;
    min-height:525px;
    width:100%;
    background-size: cover;
}

.pricing-plan-a{
    background-color: rgba(96,96,96,0.3);
    box-shadow: 0px 8px 16px 0px rgba(220,220,220,0.6);
}

.pricing-plan-b{
    background-color: rgba(96,96,96,0.3);
    box-shadow: 0px 8px 16px 0px rgba(220,220,220,0.6);
}

#member-pic {
    clear:both;
    height:300px;
    background-size:cover;

}